body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
/* ------------------
      Top part
      --------------- */
.header{
    display: flex;
    background-color: blue;
    height: 675px;
}
.header h1{
    font-size: 50px;
    color: white;
    font-weight: 700;
    Width: 485px;
    Height: 230px;
    padding-top: 207px;
    padding-left: 146px;
}
.content{
    width: 50%;
    padding-left: 5%;
}
.content .banner{
    width: 557px;
    height: 438px;
    padding-top: 153px;
}
.banner{
    transition: transform 1s;
}
.banner:hover{
    transform: rotate(30deg);
}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    margin-left: 156px;
    margin-bottom: 168px;
    margin-top: 464px;
    border-radius: 7px;
}
/*--------------------
        Player content 
--------------------------*/
.photo-album{
    margin-left: 125px;
    margin-top: 60px;
}
.photo-frame{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.photo-frame .object{
    padding: 10px;
}
.content-item{
    width: 300px;
    height: 434px;
    box-shadow: 10px 10px 10px 15px lightgrey;
    margin-bottom: 25px;
    border-radius: 5px;
    
}
.content-item h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.content-item img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
/*----------------------
         Footer part 
------------------------*/
footer img{
    width: 270px;
    height: 100px;
    margin-top: 150px;
    margin-left: 510px;
}
.icon{
    display: flex;
    justify-content: center;
}
.fab{
    font-size: 32px;
    padding: 10px;
}
.author{
    text-align: center;
}

/*----------------------- 
      Responsive item 
-------------------------*/

/*----------------------- 
      Mobile Devices 
-------------------------*/
@media only screen and (max-width:688px){
    .header{
        width: 100%;
        flex-direction: column;
        height: 800px;
    }
    .header h1{
        font-size: 30px;
        width: 278px;
        height: 138px;
        padding-top: 112px;
        padding-left: 16px;
    }
    .content .banner{
        position: absolute;
        width: 329px;
        height: 260px;
    }
    .link-button{
        margin-left: 19px;
    }
    .photo-album{
        margin-left: 35px;
    }
    .photo-frame{
        grid-template-columns: repeat(1, 1fr);
    }
    footer img{
       margin-left: 105px;
       width: 140px;
       height: 60px;
    }
    .fab{
        font-size: 32px;
        margin: 0px;
    }
}
